<!DOCTYPE html>
<html lang="zh-TW">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>MIS相關工作介紹</title>
	<style type="text/css">
		* { font-family:"標楷體"; margin-left:auto; margin-right:auto;}
		h1 {color:#52a135; font-size:60px;}
		h2 {font-size:20px;}
	</style>

	<script>
		function change1() {
  			document.getElementById("pic").src = "/static/com.jpg";
  			document.getElementById("h2text").innerText = "靜宜資管";
		}
	</script>


	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


</head>
<body>
	<main class="container-fluid bg-warning text-white text-center">
	<table width="50%">
		<tr>
			<td>
				<main class="container-fluid bg-light text-white text-center">
				<h1><a href="https://www.1111.com.tw/corp/69452652/?agent=OP_GAP_1111tn_t_corp_rt30_0515&gclid=EAIaIQobChMIuPzQy_yzggMVULeWCh1nRw8rEAAYASAAEgLcOPD_BwE">開普勒有限公司</a></h1>

				<main class="container-fluid bg-light text-white text-center">
			</td>
		</tr>
	</table>

		<table width="100%">
		<tr>
			<td>
				
				<img src="/static/com.jpg"class="img-fluid rounded-circle"  width="50%" id="pic" onmouseover="change1()" ></img>
		
			</td>
		</tr>
	</table>


	<table width="100%" border="5">
		<tr>
			<td>
				<h1>公司資訊</h1><br>
				<h2>公司名稱：開普勒有限公司</h2><br>
				<h2>公司地址：臺北市內湖區文湖街21巷17弄2號2樓</h2><br>
				<h2>工作內容:網路管理,防火牆維運,部門專案執行參與,防毒安裝及資料日常備份</h2><br>
			</td>

			<td>
				<h1>職務類別</h1><br>
				<h2>MIS工程師,網路管理工程師,MIS/網管主管</h2><br>
				
			</td>

			<td>
				<h1>要求條件</h1><br>
				<h2>工作經歷：3年以上工作經驗</h2><br>
				<h2>學歷要求：大學以上</h2><br>
				<h2>科系要求：不拘</h2><br>
			</td>
		</tr>
	</table>


	<footer>
		Copyright ©  林映均. All Rights Reserved.
	</footer>
	<main class="container-fluid bg-warning text-white text-center">
</body>
</html>
